tqdm
diskcache
numpy
openai
anthropic
google-generativeai
datasets
transformers
scikit-learn
tiktoken
evaluate
rouge-score
sentencepiece
langgraph
langchain
langchain-community
# --index-url https://download.pytorch.org/whl/cpu
# torch==2.1.0+cpu
